.okk{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: wavy;
    font-size: xx-large;
}

#heading,#result{
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
 }